# Vercel
.vercel

# Next.js build output
frontend/out
frontend/.next

# Dependencies
frontend/node_modules

# Python artifacts
api/__pycache__
api/venv
__pycache__/
*.pyc

# Local environment variables
.env
.env*
*.env.local

# macOS & Windows
.DS_Store
Thumbs.db